/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Noto+Sans&display=swap');

/* Variables */
:root,
[data-theme="light"] {
    --text: #1e1206;
    --background: #fbf2e9;
    --primary: #ce7a27;
    --secondary: #ffeddb;
    --accent: #ff9e3d;
    --static: #0000001a;
    --titleFont: 'Noto Sans';
    --bodyFont: 'Merriweather Sans';
}

[data-theme="dark"] {
    --text: #f9ede1;
    --background: #160d04;
    --primary: #d88531;
    --secondary: #241200;
    --accent: #c26100;
    --static: #ffffff1a;
    --titleFont: 'Noto Sans';
    --bodyFont: 'Merriweather Sans';
}

/* Misc */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    min-height: 100vh;
    margin: 0px;
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: var(--titleFont);
    color: var(--text);
}

h3,
h4,
h5,
p,
span,
a,
li {
    font-family: var(--bodyFont);
    color: var(--text);
    margin: 0px;
    margin-top: 3px;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: var(--accent);
}

html {
    font-size: 100%;
    /* 16px */
}

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

button {
    background-color: var(--primary);
    border: solid 1px var(--static);
    border-radius: 5px;
    color: var(--background);
    font-size: 100%;
    padding: 7.5%;
}

button:hover {
    cursor: pointer;
    background-color: var(--accent);
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.centerMain {
    justify-content: center;
}

.centerCross {
    align-items: center;
}

/* Navbar */

nav {
    width: 100%;
    border-bottom: 1px solid var(--static);
}

nav > .nav-section {
    padding: 1.5rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--static);
}

#nav-profile-section {
    flex-basis: 25%;
}

#nav-link-section {
flex-basis: 50%;
gap: 5rem;
}

#nav-socials-section {
    gap: 2rem;
}

.nav-section > a > i,
.list > li > i {
    font-size: 1.777rem;
    color: var(--primary);
}

.nav-section > a > i:hover {
    color: var(--accent);
}

#nav-socials-section, 
#nav-contact-section {
    flex-grow: 1;
}

.nav-section > a {
    text-decoration: none;
    color: var(--text);
}

/* Main Content */

main {
    flex-grow: 1;
    width: 100%;
}

main > .content-section {
    border-bottom: solid 1px var(--static);
    padding: 3rem 4rem;
}

.imageContainer {
    max-width: 12rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin: 1.5rem;
}

.imageContainer>img {
    max-width: 100%;
}

.card-section {
    display: grid;
    width: 100%;
    height: 20rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 3fr);
}

.card {
    border: solid 2px var(--static);
    border-radius: 20px;
    margin: 0.75rem 2rem;
    background-color: var(--secondary);
}

#apropos-card-lang {
    grid-column: 1;
    grid-row: 1;
}

#apropos-card-qual {
    grid-column: 1;
    grid-row: 2;
}

#apropos-card-skills {
    grid-column: 2;
    grid-row: 1 / 3;
}

#apropos-card-hobbies {
    grid-column: 3;
    grid-row: 1 / 3;
}

.list {
    line-height: 1.5em;
}