/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Noto+Sans&display=swap');

/* Variables */

:root[data-theme="light"] {
    --text: #0a0910;
    --background: #eae7ee;
    --primary: #471cf2;
    --primary2: #471cf266;
    --secondary: #ada6d9;
    --secondary2: #ada6d955;
    --accent: #e8764c;
    --static: #0000001a;
    --titleFont: 'Noto Sans';
    --bodyFont: 'Merriweather Sans';
}

:root[data-theme="dark"] {
    --text: #f0eff6;
    --background: #141118;
    --primary: #380de3;
    --primary2: #380de366;
    --secondary: #2d2659;
    --secondary2: #2d265955;
    --accent: #b54117;
    --static: #ffffff1a;
    --titleFont: 'Noto Sans';
    --bodyFont: 'Merriweather Sans';
}

/* Misc */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    min-height: 100vh;
    margin: 0px;
}

h1,
h2 {
    font-family: var(--titleFont);
    color: var(--text);
}

h3,
h4,
h5,
h6,
p,
small,
span,
a,
li {
    font-family: var(--bodyFont);
    color: var(--text);
    margin: 0px;
    margin-top: 3px;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: var(--accent);
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
    /* 16px */
}

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

h6 {
    font-size: 1rem;
    /* 16px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

button {
    font-family: var(--bodyFont);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--background);
    font-size: 100%;
    padding: 0.75em;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary2);
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.centerMain {
    justify-content: center;
}

.centerCross {
    align-items: center;
}

.paddingTitle {
    padding-bottom: 1rem;
}

.smallPaddingTitle {
    padding-bottom: 0.5rem;
}

.bigPaddingTitle {
    padding-bottom: 1.5rem;
}

ul {
    line-height: 1.5em;
}

/* Navbar */

nav {
    background-color: var(--background);
    position: sticky;
    z-index: 2;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid var(--static);
}

nav > .nav-section {
    padding: 0rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--static);
}

#nav-profile-section {
    flex-basis: 25%;
}

#nav-link-section {
flex-basis: 50%;
gap: 5rem;
}

#nav-socials-section {
    gap: 2rem;
}

.nav-section i {
    font-size: 1.777rem;
    color: var(--accent);
}

ul i {
    color: var(--accent);
    font-size: 1.5rem;
    vertical-align: middle;
}

.nav-section i:hover {
    color: var(--primary2);
}

#nav-socials-section, 
#nav-contact-section {
    flex-grow: 1;
}

.nav-section a {
    text-decoration: none;
    color: var(--text);
}

#nav-image-cont {
    width: 4rem;
}

/* Main Content */

main {
    flex-grow: 1;
    width: 100%;
}

main > .content-section {
    scroll-margin-top: 5rem;
    border-bottom: solid 1px var(--static);
    padding: 3rem 4rem;
    padding-bottom: 10rem;
}

.imageContainer {
    max-width: 12rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin: 1.5rem;
}

.imageContainer img,
.card-image-cont img {
    max-width: 100%;
}

.card-image-cont {
    width: 90%;
    aspect-ratio: 16/9;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.grid-section {
    display: grid;
    width: 100%;
    height: 25rem;
}

.card-section {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 3fr);
}

.card {
    border-radius: 20px;
    margin: 0.75rem 2rem;
    padding-top: 0.75rem;
}

#apropos-card-lang {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--primary2);
}

#apropos-card-qual {
    grid-column: 1;
    grid-row: 2;
    background-color: var(--secondary);
}

#apropos-card-skills {
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: var(--secondary);
}

#apropos-card-hobbies {
    grid-column: 3;
    grid-row: 1 / 3;
    background-color: var(--primary2);
}

#apropos-card-hobbies li,
#apropos-card-skills li {
    font-size: 1.333rem;
    line-height: 150%;
}

.form-section {
    height: 15rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 3fr);
}

.formation {
    position: relative;
    border-left: solid 3px var(--accent);
    padding-left: 1rem;
}

.formation::after { /* Stack Overflow pour positionner le point*/
    content: " ";
    position: absolute;
    left: -1px;
    top: 0px;
    transform: translate(-50%, -50%);
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--accent);
    border-radius: 50%;
}

.formation > * {
    max-width: 95%;
}

.proj-section {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 3fr);
    height: 27rem;
}

.proj-section > .card {
    margin: 0.75rem 1rem;
}

.proj-section> .card p {
    max-width: 90%;
}

#projet1, #projet3 {
    background-color: var(--secondary);
}

#projet2, #projet4 {
    background-color: var(--primary2);
}

#img-trailblazer {
    position: relative;
    top: -40%;
}

/* Contact form */

.contact-background {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: var(--accentColor);
    backdrop-filter: blur(1.5rem);
}

.contact-cont {
    width: 50%;
    height: 60%;
    background-color: var(--secondary2);
    border: solid 2px var(--static);
    border-radius: 25px;
}

.contact-form {
    width: 100%;
    min-height: 50%;
}

.form-input {
    width: 50%;
    min-height: 7.5%;
    margin-bottom: 2%;
    background-color: var(--accentColor);
    border: solid 1px var(--static);
    border-radius: 5px;
    color: var(--text);
}

.form-input::placeholder {
    color: var(--text);
}

.form-button {
    margin: 0px 3rem;
}

#form-cancel {
    background-color: var(--primary2);
}

#form-cancel:hover {
    background-color: var(--accent);
}

.noDisplay {
    display: none;
}

.noOverflow {
    overflow: hidden;
}

footer {
    padding: 1rem 2rem;
    gap: 10rem;
}