body { font-family: Arial; }

#cv { width: 800px; margin: 20px auto; padding: 20px; }

#sidebar { width: 100%; }

#main { width: 100%; }

.clear { clear: both; }

.section { margin-bottom: 20px; }

#photo {
	max-width:200px;
	max-height:200px;
}

dt {
  font-weight: bold;
}

dl,
dd {
  font-size: 0.9rem;
}

dd {
  margin-bottom: 1em;
}
